* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
  background-color: white
}

body {
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

header .container {
    height: 100%;
}

.container  {
    display: flex;
    background-color: rgb(100%, 41%, 0%);
    max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}

img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;

}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
 }


.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  }

.card-title {
  color: grey;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}